[Desktop Entry]
Type=Application
Name=Izanagi
GenericName=Nebbie world editor
Comment=Editor di mondo per Nebbie Arcane
Exec=nebbieedit
Icon=izanagi
Categories=Development;Game;
Keywords=mud;nebbie;arcane;world;editor;izanagi;
Terminal=false
