[Desktop Entry]
Type=Application
Name=Izanagi
GenericName=Nebbie Arcane MUD world editor
Comment=Izanagi — a totally new Nebbie Arcane MUD world editor
Exec=nebbieedit
Icon=izanagi
Categories=Development;Game;
Keywords=mud;nebbie;arcane;world;editor;izanagi;
Terminal=false
