[Desktop Entry]
Type=Application
Name=Nebbie Editor
Comment=Editor di mondo per Nebbie Arcane
Exec=nebbieedit
Icon=nebbieedit
Type=Application
Categories=Development;Game;
Keywords=mud;nebbie;arcane;world;editor;
Terminal=false
Categories=Development;Game;
