[Desktop Entry]
Type=Application
Name=Cypher
GenericName=Nebbie room translator
Comment=Editor leggero per traduzione stanze Nebbie Arcane
Exec=nebbie-translate
Icon=cypher
Categories=Game;Development;
Keywords=mud;nebbie;arcane;translate;cypher;
Terminal=false
